[Unit]
Description=slurm daemon - worker side
Documentation=man:slurmd(8)
After=network.target
After=syslog.target
After=time-sync.target

[Service]
Type=forking
ExecStart=/usr/sbin/slurmd -vvvv
PIDFile=/var/run/slurmd.pid
User=slurm
Group=slurm
Restart=on-abort

[Install]
WantedBy=multi-user.target
